main{
	position:relative;
	top:25vh;
	margin:auto;
	
}


.login-form{
	
	position:relative;
	padding-top:100px;
	height:200px;
	width:400px;
	margin:auto;
	background-image:url("background.jpg");
	border:solid 0.5px black;
	border-bottom-left-radius: 30px;
	font-family: sans-serif;
}

.input{
	margin: 10px;	
}

label{
	display: inline-block;
	width: 100px;
	padding-left:50px
}

.input button{
	position:relative;
	height:30px;
	width:100px;
	left:125px;
	margin:0 auto;
	background:white;
	border:none;
	border-radius: 2px;
}

input{
	border:solid 0.5px black;
	color:white;
}

.message-box{

	color:white;
	background:rgba(0, 0, 0, 0.658);
	height:87px;
	width:100%;
	border-bottom-left-radius: 30px;

}
.message-box p{
	position:relative;
	top:40px;
	text-align: center;	
}